/* LoadingBar.module.css */
@keyframes progressBarAnimation {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.progressIndicator {
  display: flex;
  height: 24px;
  margin: 6px 3px 3px 0px;
}

.progressIndicatorBar {
  animation: progressBarAnimation 2s ease-in-out infinite;
  height: 100%; /* Ensures the height stays consistent */
  background-color: blue;
}
